<section id="clients" class="clients section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>{{client_title}}</h2>
        <p>{{client_sub_title}}</p>
    </div><!-- End Section Title -->


    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row g-0 clients-wrap">
            {{clients}}
            <div class="col-xl-6 col-md-6 client-logo">
                {{client_logo}}
                <img src="{{url}}" class="img-fluid" alt="">
                {{/client_logo}}
            </div><!-- End Client Item -->

            {{/clients}}
        </div>


    </div>


</section>