<nav id="navmenu" class="navmenu">
    <ul>
        {{ nav:main_nav}}
        <li>
            <a href="{{ url  }}" class="{{if current_url == permalink }}active{{/if}}">
                {{ title }}
            </a>
        </li>
        {{/nav:main_nav}}



        <!-- <li><a href=" about.html" class="">About</a>
        </li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
        <li class="dropdown"><a href="about.html"><span>About</span> <i
                    class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
                <li><a href="team.html">Team</a></li>
                <li><a href="testimonials.html">Testimonials</a></li>
                <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i
                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                        <li><a href="#">Deep Dropdown 1</a></li>
                        <li><a href="#">Deep Dropdown 2</a></li>
                        <li><a href="#">Deep Dropdown 3</a></li>
                        <li><a href="#">Deep Dropdown 4</a></li>
                        <li><a href="#">Deep Dropdown 5</a></li>
                    </ul>
                </li>
            </ul>
        </li> -->
    </ul>
    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
</nav>